.common-container {
  margin: 0 auto;
  .title {
    font-size: 25px;
    font-weight: 600;
    color: #292633;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absloute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
