.special-offer-slider {
  width: 83.333333%;
}

@media only screen and (max-width: 767px) {
  .common-container {
    padding: 0 15px;
  }
  .shop .best-shop .product-action .add-btn span {
    font-size: 14px;
  }
  .shop .common-container .left-side.el-col {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .common-container {
    max-width: 720px;
  }
  .app-nav .icon-container .el-drawer .el-drawer__body {
    width: 30vw;
  }

  .shop .best-shop .product-action .add-btn span {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .common-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .common-container {
    max-width: 1140px;
  }

  .banner-wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1400px) {
  .common-container {
    max-width: 1300px;
  }
}
@media (min-width: 1650px) {
  .common-container {
    max-width: 1570px;
  }
}
